body{
    background-image: url(https://wallpaperaccess.com/full/3488415.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: aliceblue;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 7% 36% 3%;
}

p{
    color: red;
    font-size: small;
}

legend{
    color: aliceblue;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #18A558;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }